{% load static %}
  <i class="fas fa-map-marker Styleofsmallicon"></i>
  <span class='Styleofsmallparagraph'>{{CorrectPlaceAddr}}</span><br>

  <i class="fas fa-phone-square Styleofsmallicon"></i>
  <span class='Styleofsmallparagraph'>{{CorrectPlacePhone}}</span><br>
  <i class="far fa-calendar-alt Styleofsmallicon"></i>
  <span class="Styleofsmallparagraph">{{CorrectPlaceTime}}</span><br>
  
  {% for x in HasTList%}
  <span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">{{x}}</i></span>
  {% endfor %}
