{% load static %}
  <i class="fas fa-map-marker Styleofsmallicon"></i>
  <span class='Styleofsmallparagraph'>540-0002大阪市中央區大阪城1番1號</span><br>

  <i class="fas fa-phone-square Styleofsmallicon"></i>
  <span class='Styleofsmallparagraph'>+81-6-6941-3044</span><br>
  <i class="far fa-calendar-alt Styleofsmallicon"></i>
  <span class="Styleofsmallparagraph">上午9:00－下午5:00</span><br>

  <i class="fas fa-info-circle Styleofsmallicon"></i>
  <span class="Styleofsmallparagraph">我想了解更多</span><br>
  {% for x in HasTList%}
  <span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">{{x}}</i></span>
  {% endfor %}
