{% load static %}
<span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">觀光景點</i></span>
<span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">吃喝</i></span>
<span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">好玩！</i></span>
<span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">Like4Like</i></span>
<span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">Like4Like</i></span>
<span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">Like4Like</i></span>
<span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">Like4Like</i></span>
<span><i class="fas fa-hashtag btn btn-secondary StyleofHashTags">Like4Like</i></span>
