{% load static %}
<div class="OtherRateBlock">
  <div class="OtherRateBlockStyle row">
    <!-- Other Ppl's ID place -->
    {% for OtherReviewDetail in TupleOfReview %}
    <div class="col-3" style="padding:5px 5px;margin-bottom:15px">
      <div class="OthersID">
        <!-- OtherUserID -->
        <span style="margin:0px">{{OtherReviewDetail.2}}</span><br>
        <!-- Time of rating -->
        <span class="TimeOfReview">{{OtherReviewDetail.3}}</span><br>
        <!-- OtherUserRating -->
        {% for x in OtherReviewDetail.1%}
        <i class="fas fa-star OthersStar" style="color:#ffb400"></i>
        {% endfor %}
        {% for x in OtherReviewDetail.4%}
        <i class="fas fa-star OthersStar"></i>
        {% endfor %}
      </div>
    </div>
    <div class="col-9" style="padding:5px 5px;margin-bottom:15px;background-color:#EEEEEE;border-radius:10px">
      <div class="OthersReview">
        {% for x in OtherReviewDetail.0 %}
        <p>{{x}}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
