{% load static %}
<div class="centercontent">
  <div class="centerPic">
    <span><img id= "img1" src="{% static 'images/1.png' %}" class = "JiggleStars">
          <img id= "img2" src="{% static 'images/1.png' %}" class = "JiggleStars">
          <img id= "img3" src="{% static 'images/1.png' %}" class = "JiggleStars">
          <img id= "img4" src="{% static 'images/1.png' %}" class = "JiggleStars">
          <img id= "img5" src="{% static 'images/1.png' %}" class = "JiggleStars"></span><br>
          <h1 id="yourated"></h1>
        <form class="" action="index.html" method="post">
            <input type="sumbit" id = "rate" class = "btn btn-success buttonStyle" name="" value="Submit2">
            <button type="submit" id = 'rate' class='btn btn-success' name="button"><i class="fas fa-comments"></i></button>
            <input type="reset" id = "reset" class = "btn btn-success buttonStyle" name="" value="Reset">
            <button type="submit" class='btn btn-success' name="button"><i class="fas fa-comments"></i></button>

        </form>
  </div>
