{% extends 'master.html' %}
{% load static %}
<!-- Load my own -->
{% block style_part %}
<link rel="stylesheet" href="{% static 'styles/review.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.css" />
{% endblock %}
<!-- Show my content -->
{% block main_content %}
<div class="row ReviewHomeMainPicSize">
    {% include 'review/ReviewPic.html' %}
  <div class = "col-4 DetailInfo_TripCheck">
    <div class="theDetailTitle">東京迪士尼</div>
    <span class='theDetailSmallTitle'>遊樂園</span>
    <div class="row">
      <!-- First row is for important information -->
      <div class="col-12">
        {% include 'review/AvgStarShow.html' %}
      </div>
      <div class="col-12">
        {% include 'review/DetailInfo.html' %}
      </div>
      <div class="col-12">
        {% include 'review/HashTagList.html' %}
      </div>
    </div>
  </div>
</div>
<!-- This is the part for user to rate and comment. -->
<div class="row ReviewHomeMainPicSize">
  <div class="col-6 TheUserRate">
    {% include 'review/TheUserRate.html'%}
  </div>
  <div class="col-4 AddingtoNewTrip">
    {% include 'review/AddingtoNewTrip.html'%}
  </div>
</div>
<!-- This is the part for other ppl's rate and comment. -->
<div class="ReviewHomeMainPicSize">
  {% include 'review/OtherPplRate.html' %}
</div>
{% endblock %}
<!-- Load my JS -->
{% block script_part%}
<script src="{%static 'scripts/review.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.js"></script>
{% endblock %}
