{% extends 'master.html' %}
{% load static %}
<!-- Load my own -->
{% block style_part %}
<link rel="stylesheet" href="{% static 'styles/review.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.css" />
<style media="screen">
.MainPicSizeAdjust{
  background-image:url({{CorrectPlacePic}});
  width: 100%;
  height:500px;
  /* max-height:750px; */
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
</style>
{% endblock %}
<!-- Show my content -->
{% block main_content %}
<div class="row ReviewHomeMainPicSize">
    {% include 'review/ReviewPic.html' %}
  <div class = "col-4 DetailInfo_TripCheck">
    <div class="theDetailTitle">{{CorrectPlaceName}}</div>
    <span class='theDetailSmallTitle'>{{CorrectPlaceType}}</span>
    <div class="row">
      <!-- First row is for important information -->
      <div class="col-12">
        {% include 'review/AvgStarShow.html' %}
      </div>
      <div class="col-12">
        {% include 'review/DetailInfo.html' %}
      </div>
      <div class="col-12" style="margin-top: 20px">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&width=53&height=20&appId" width="53" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</div>
<!-- This is the part for user to rate and comment. -->
<div class="row ReviewHomeMainPicSize">
  <div class="col-3 TheUserRate">
    {% include 'review/TheUserRate.html'%}
  </div>
</div>
<!-- This is the part for other ppl's rate and comment. -->
<div class="ReviewHomeMainPicSize">
  {% include 'review/OtherPplRate.html' %}
</div>
{% endblock %}
<!-- Load my JS -->
{% block script_part%}
<script src="{%static 'scripts/review.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.js"></script>
{% endblock %}
