{% load static %}
<header>
<div id="myBtnContainer" style="padding-left: 3em">
  <!-- <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('Culture')"> Culture </button>
  <button class="btn" onclick="filterSelection('Art')"> Art </button>
  <button class="btn" onclick="filterSelection('Nature')"> Nature </button> -->
  <!-- Willy Code -->
  <button class="btn active WFilterbyName"> Show all</button>
  <button class="btn WFilterbyName"> Culture </button>
  <button class="btn WFilterbyName"> Art </button>
  <button class="btn WFilterbyName"> Nature </button>
  <button class="btn WFilterbyName">Shopping</button>
</div>
</header>
<content>
<div class="row" id='WeStartHere'>



</div>
</content>
