{% load static %}
<header>
<div id="myBtnContainer" style="padding-left: 3em">
  <!-- <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('Culture')"> Culture </button>
  <button class="btn" onclick="filterSelection('Art')"> Art </button>
  <button class="btn" onclick="filterSelection('Nature')"> Nature </button> -->
  <!-- Willy Code -->
  <button class="btn active WFilterbyName"> Show all</button>
  <button class="btn WFilterbyName"> Culture </button>
  <button class="btn WFilterbyName"> Art </button>
  <button class="btn WFilterbyName"> Nature </button>
  <button class="btn WFilterbyName">Shopping</button>
</div>
</header>
<content>
<div class="row" id='WeStartHere'>

  <!-- 
  
<div class="column Nature">
  <div class="content" style="background-image: url('../../static/images/Museum-of-Natural-History.jpg');">
          <div class="content-overlay"></div>
          <div class="content-details fadeIn-bottom">
          <h3 class="content-title"><a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">Museum of Natural History</a></h3>
          <p class="content-text">★★★★☆</p>
          <form method="post" action="">
            {% csrf_token %}
            <select class="PickPlace" name="PlaceTEST0" id="placeadd">
                <option selected="selected" disabled>Pick A Date</option>
                <option id="d01" value="Museum of Natural History">Day 1</option>
                <option id="d02" value="Museum of Natural History">Day 2</option>
                <option id="d03" value="Museum of Natural History">Day 3</option>
                <option id="d04" value="D04">Day 4</option>
                <option id="d05" value="D05">Day 5</option>
            </select>
            <!-- </form> -->
          </div>
      </a>
  </div>
</div>
END GRID -->

</div>
</content>
