{% load static %}
<header>
<div id="myBtnContainer" style="padding-left: 3em">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('Culture')"> Culture </button>
  <button class="btn" onclick="filterSelection('Art')"> Art </button>
  <button class="btn" onclick="filterSelection('Nature')"> Nature </button>
</div>
</header>
<content>
  <div class="row">
<div class="column Nature">
  <div class="content" style="background-image: url('../../static/images/Museum-of-Natural-History.jpg');">
      <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
          <div class="content-overlay"></div>
          <img class="content-image" alt="Nature" src="../../static/images/Museum-of-Natural-History.jpg">
          <div class="content-details fadeIn-bottom">
          <h3 class="content-title">Museum of Natural History</h3>
          <p class="content-text">★★★★☆</p>
          </div>
      </a>
  </div>
</div>
  <div class="column Art">
    <div class="content" style="background-image: url('../../static/images/The-New-Museum.jpg');">
        <a href="https://newmuseum.org" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" alt="Art" src="../../static/images/The-New-Museum.jpg">
            <div class="content-details fadeIn-bottom">
            <h3 class="content-title">The New Museum</h3>
            <p class="content-text">★★★★☆</p>
            </div>
        </a>
    </div>
  </div>
  <div class="column Culture">
        <div class="content" style="background-image: url('../../static/images/museum-of-chinese-in-america.jpg');">
            <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" alt="Culture" src="../../static/images/museum-of-chinese-in-america.jpg">
                <div class="content-details fadeIn-bottom">
                <h3 class="content-title">Museum of Chinese in America</h3>
                <p class="content-text">★★★★☆</p>
                </div>
            </a>
        </div>
    </div>
        <div class="column Culture">
                <div class="content" style="background-image: url('../../static/images/Neue-Galerie-Book-Store.jpg');">
                    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                        <div class="content-overlay"></div>
                        <img class="content-image" alt="Culture" src="../../static/images/Neue-Galerie-Book-Store.jpg">
                        <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Neue Galerie Book Store</h3>
                        <p class="content-text">★★★☆☆</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column Art">
                    <div class="content" style="background-image: url('../../static/images/MOMA-PS1.jpg');">
                        <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="content-image" alt="Art" src="../../static/images/MOMA-PS1.jpg">
                            <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">PS1</h3>
                            <p class="content-text">★★★☆☆</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="column Culture">
                        <div class="content" style="background-image: url('../../static/images/museum-of-moving-image.jpg');">
                            <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                                <div class="content-overlay"></div>
                                <img class="content-image" alt="Culture" src="../../static/images/museum-of-moving-image.jpg">
                                <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Museum of Moving Image</h3>
                                <p class="content-text">★★★☆☆</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="column Art">
                            <div class="content" style="background-image: url('../../static/images/Guggenheim.jpg');">
                                <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                                    <div class="content-overlay"></div>
                                    <img class="content-image" alt="Art" src="../../static/images/Guggenheim.jpg">
                                    <div class="content-details fadeIn-bottom">
                                    <h3 class="content-title">Guggenheim Museum</h3>
                                    <p class="content-text">★★★☆☆</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="column Art">
                                <div class="content" style="background-image: url('../../static/images/The-Whitney.jpg');">
                                    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                                        <div class="content-overlay"></div>
                                        <img class="content-image" alt="Art" src="../../static/images/The-Whitney.jpg">
                                        <div class="content-details fadeIn-bottom">
                                        <h3 class="content-title">The Whitney Museum</h3>
                                        <p class="content-text">★★★☆☆</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
<!-- END GRID -->
</div>
</content>
