<!-- Tab links -->
{% load static %}
<div class="tab">
    <button class="tablinks" onclick="openDay(event, 'day1')">Day1</button>
    <button class="tablinks" onclick="openDay(event, 'day2')">Day2</button>
</div>

<!-- Tab content -->
<div id="day1" class="daytab">
    <button class="accordion">景點</button>
    <div class="panel">
        <ul id="sortplace" class="sortable">
            <li class="ui-state-default">Place 1
                <div class='delli'>
                    x
                </div>
            </li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
        </ul>
    </div>
    <button class="accordion">餐飲</button>
    <div class="panel">
        <ul id="sortres" class="sortable">
            <li class="ui-state-default">Place 1
                <div class='delli'>
                    x
                </div>
            </li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
        </ul>
    </div>
    <button class="accordion">住宿</button>
    <div class="panel">
        <ul id="sorthot">
            <li class="ui-state-default">Place 1
                <div class='delli'>
                    x
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="day2" class="daytab">
        <button class="accordion">景點</button>
        <div class="panel">
            <ul id="sortplace" class="sortable">
                <li class="ui-state-default">Place 1
                    <div class='delli'>
                        x
                    </div>
                </li>
                <li class="ui-state-default">Item 2</li>
                <li class="ui-state-default">Item 3</li>
                <li class="ui-state-default">Item 4</li>
                <li class="ui-state-default">Item 5</li>
            </ul>
        </div>
        <button class="accordion">餐飲</button>
        <div class="panel">
            <ul id="sortres" class="sortable">
                <li class="ui-state-default">Place 1
                    <div class='delli'>
                        x
                    </div>
                </li>
                <li class="ui-state-default">Item 2</li>
                <li class="ui-state-default">Item 3</li>
            </ul>
        </div>
        <button class="accordion">住宿</button>
        <div class="panel">
            <ul id="sorthot">
                <li class="ui-state-default">Place 1
                    <div class='delli'>
                        x
                    </div>
                </li>
            </ul>
        </div>
    </div>