@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* for the left */

#send {
  background-color: #484848;
  /* border-radius: 12px; */
  border: none;
  color: white;
  width: 335px;
  padding: 8px 60px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
#send:hover {opacity: 1}
/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 5px solid white; */
    background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    color: #484848;
    font-weight: bolder;
    transition: 0.3s;
    text-transform: uppercase;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.daytab {
    display: none;
    padding: 6px 6px;
    border: none;
    border-top: none;
}
/* accordion */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #484848;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;    
    border: none;
    /* border-bottom: #ffffff 1em solid; */

    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 5 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
/* end of accordion(or is it) */
/* sortable */
.ui-state-default{
  list-style: none;
  color: #484848;
  padding: 0.5em 1em 0.5em 2.2em;
}
.ui-state-default:hover { 
  list-style: square inside;
  padding: 0.5em 1em;

}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
  html>body #sortable li { height: 1.5em; line-height: 1.2em; }
  .ui-state-highlight { height: 1.5em; line-height: 1.2em; color: #eee}

/* delete list */
.delli{
    float: right;
    padding-right: 10px;
    color:#a1a1a1
}
/* end of the left */
/* welcome to the explore */
/* the middle east of this website */
*, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

  body{
    background: #ffffff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
      padding: 0px;
  }
  .header
  {
    height:50px;
  }
  .main-title{
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
  }



  /* .container{
    padding: 1em 0;
    float: left;
    width: 50%;
  }
  @media screen and (max-width: 640px){
    .container{
      display: block;
      width: 100%;
    }
  }

  @media screen and (min-width: 900px){
    .container{
      width: 33.33333%;
    }
  }

  .container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  } */

  .content {
    position: relative;
    max-width: 500px;
    margin: auto;
      /* crop */
    /* width: 100px; */
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* crop */
    overflow: hidden;
    background-color: white;
    padding: 20px;
  }

  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay{
    opacity: 1;
  }

  .content-image{
    width: 100%;
    /* cropp */
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content-details a{
    color: #fff;
    text-decoration: none;
    }

  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }

  .fadeIn-bottom{
    top: 80%;
  }

  .fadeIn-top{
    top: 20%;
  }

  .fadeIn-left{
    left: 20%;
  }

  .fadeIn-right{
    left: 80%;
  }


  /* Center website */
  .main {
      max-width: 1000px;
      margin: auto;
  }


  .row {
      margin: 8px;
      height: 300px;
  }

  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
      padding: 8px;
  }

  /* Create three equal columns that floats next to each other */
  .column {
      float: left;
      width: 33.33%;
      display: none; /* Hide columns by default */
  }

  /* Clear floats after rows */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }


  /* The "show" class is added to the filtered elements */
  .show {
      display: block;
  }

  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }

  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #666;
     color: white;
  }

/* end of explore */

/*Start of Willy Css */
.PositionOfSelect{
  position:absolute;
  right:2%;
  top:112%;
}
.PlusSign{
  position:absolute;
  right:25%;
  top:112%;
  font-family:none;
}
