{% extends 'master.html' %} {% load static %} {% block style_part %}
<style>
  .tile-img {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-color: #ddd
  }
</style>
{% endblock %} {% block main_content %}
<div class="position-relative">
  <h1 style="background-image: url({% static 'images/titimg2.jpg' %}); text-align: center;padding: 20px;color: white; background-repeat: no-repeat;
    background-attachment: fixed;background-position: center;background-size: cover;">行程資訊</h1>
  <div class="col-md-5 mx-auto" style="padding-bottom: 0px!important;margin-bottom: 0px!important;margin-top: 20px;">
    <!-- <hr class="myhr">  -->

    <!-- <div class="container" style="border:3px black solid;border-radius:10px;height:60px;background-color:black;">
      <div class="row">
        <div class="col-sm" style="background-color:white;width:300px;height:50px;text-align:center;line-height:50px;font-size:200%">
        </div>

      </div>
    </div> -->

    <div style="margin-top:50px;">
      <div class="container" style="border-radius:14px;height:60px;">
        <div class="row">
          <div class="col-9" style="border-top-left-radius: 14px;border-top-right-radius: 14px; padding-left: 30px;color:white; background-color:#cf642d;width:300px;height:50px;text-align:left;line-height:50px;font-size:200%">
              {{tname}}
          </div>

          <div class="col-3" style="background-color:white;width:300px;height:50px;text-align:center;line-height:50px;font-size:100%">
            <span>ID:{{uid}}</span>
          </div>


          <table class="table" style="padding-left: 5px;background-color: black;color: white;">
            <thead style="border-bottom-color: white;">
              <tr>
                <th style="padding-left: 20px;border-bottom-color: white;" scope="col">國家</th>
                <th style="padding-left: 20px;border-bottom-color: white;" scope="col">區域</th>
                <th style="padding-left: 20px;border-bottom-color: white;" scope="col">天數</th>
                <th style="padding-left: 20px;border-bottom-color: white;" scope="col">人數</th>
                <th style="padding-left: 20px;border-bottom-color: white;" scope="col">出發日</th>
              </tr>
            </thead>
            <tbody    style="border: none;">
                <tr    style="border: none;">
                    <td style="padding-left: 20px;background-color: white;color: black;border:none;" scope="col">{{fcountry}}</td>
                    <td style="padding-left: 20px;background-color: white;color: black;border:none;" scope="col">{{farea}}</td>
                    <td style="padding-left: 20px;background-color: white;color: black;border:none;" scope="col">{{tday}}</td>
                    <td style="padding-left: 20px;background-color: white;color: black;border:none;" scope="col">{{ters}}</td>
                    <td style="padding-left: 20px;background-color: white;color: black;border:none;" scope="col">{{tdate}}</td>
                  </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>

    <div style="margin-top:100px;">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th style="padding-left: 20px;" scope="col">DAY</th>
            <th style="padding-left: 20px;" scope="col">ACCTRACTION</th>
            <th style="padding-left: 20px;" scope="col">HOTEL</th>
            <th style="padding-left: 20px;" scope="col">RESTAURANT</th>
          </tr>
        </thead>
        <tbody>
          {% for item in TOTAL_reslist %}
          <tr>
            <th scope="row">{{item.day}}</th>
            <td  >
              {% for attritem in item.attr %}
              <div class="col-md-12">
                  <a style="color: #00a699;" href="/review?placeide={{attritem.getid}}">{{attritem.getname}}</a>
              </div>
              {% endfor %}
            </td>
            <td>
              {% for hotitem in item.hot %}
              <div class="col-md-12">
                  <a style="color: #00a699;" href="/hotel?hoid={{hotitem.getid}}">{{hotitem.getname}}</a>
              </div>
              {% endfor %}
            </td>
            <td>
              {% for resitem in item.res %}
              <div class="col-md-12">
                  <a style="color: #00a699;" href="/res?id={{resitem.getid}}">{{resitem.getname}}</a>
              </div>
              
              {% endfor %}
            </td>            
          </tr>

          {% endfor %}
          <tr>
            <td colspan="4" style="text-align: right;">
              <div>
                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&width=53&height=20&appId" width="53" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
              </div>
            </td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>
</div>

</body>
{% endblock %} {% block script_part %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script> {% endblock %}