<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>訂位成功</title>
</head>
<body>
        <div class="container" style="border:3px black solid;border-radius:10px;height:60px;background-color:black;">
                <div class="row">
                  <div class="col-sm" style="background-color:white;width:300px;height:50px;text-align:center;line-height:50px;font-size:200%">
                    res
                  </div>

                </div>
              </div>

<div style="margin-top:50px;">
              <div class="container" style="border:1px black solid;border-radius:10px;height:60px;background-color:black;">
                    <div class="row">
                      <div class="col-9" style="font-family:monospace;background-color:white;width:300px;height:50px;text-align:left;line-height:50px;font-size:200%">
                        訂單詳細資訊
                      </div>

                      <div class="col-3" style="font-family:monospace;background-color:white;width:300px;height:50px;text-align:left;line-height:50px;font-size:200%">
                            訂單編號
                          </div>
    <!-- --------------------------------------------- -->
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">餐廳名稱</th>
      <th scope="col">訂位人數</th>
      <th scope="col">訂餐時間</th>
      <th scope="col">聯絡人電話</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>

    </tr>
  </tbody>
</table>

                      
                    </div>
                  </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------ -->

<!-- -------------------------------------------------------------------------------------------- 應付金額 -->

<div style="margin-top:150px;">
        <div class="container" style="border:1px black solid;border-radius:10px;height:60px;background-color:black;">
              <div class="row">
                <div class="col-9" style="font-family:monospace;background-color:white;width:300px;height:50px;text-align:left;line-height:50px;font-size:200%">
                  應付總額
                </div>

                <div class="col-3" style="font-family:monospace;background-color:white;width:300px;height:50px;text-align:left;line-height:50px;font-size:200%">
                      NT:
                    </div>
<!-- --------------------------------------------- -->
<table class="table table-bordered table-dark">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">金額總計</th>

</tr>
</thead>
<tbody>
<tr>
<th scope="row">#</th>
<td>500</td>
<td>平日8折</td>
<td>400</td>
</tr>

</tbody>
</table>

                
              </div>
            </div>
</div>


<!-- -------------------------------------------------------- -->
<div style="margin-top:150px;">
    <div class="container" style="border:1px black solid;border-radius:10px;height:60px;background-color:black;">
          <div class="row">
            <div class="col-9" style="font-family:monospace;background-color:white;width:300px;height:50px;text-align:left;line-height:50px;font-size:200%">
              應付總額
            </div>

            <div class="col-3" style="font-family:monospace;background-color:white;width:300px;height:50px;text-align:left;line-height:50px;font-size:200%">
                  NT:
                </div>
<!-- --------------------------------------------- -->
<table class="table table-bordered table-dark">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">金額總計</th>

</tr>
</thead>
<tbody>
<tr>
<th scope="row">#</th>
<td>500</td>
<td>平日8折</td>
<td>400</td>
</tr>

</tbody>
</table>

            
          </div>
        </div>
</div>

<!-- ---------------------------------------------------------------------- -->

<div style="margin-top:150px;">
    <div class="container" style="border:1px black solid;border-radius:10px;height:60px;background-color:black;">
          <div class="row">
            <div class="col-9" style="font-family:monospace;background-color:white;width:300px;height:50px;text-align:left;line-height:50px;font-size:200%">
              應付總額
            </div>

            <div class="col-3" style="font-family:monospace;background-color:white;width:300px;height:50px;text-align:left;line-height:50px;font-size:200%">
                  NT:
                </div>
<!-- --------------------------------------------- -->
<table class="table table-bordered table-dark">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">金額總計</th>

</tr>
</thead>
<tbody>
<tr>
<th scope="row">#</th>
<td>500</td>
<td>平日8折</td>
<td>400</td>
</tr>

</tbody>
</table>

            
          </div>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>