<!DOCTYPE html>
<html lang="en">
<head>
    load static
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/lightbox-target.css' %}">
</head>
<body>

    <section>
      Click Me
    </section>
    
    <div class="lightbox-target" id="notice">
      <div class="content">
        hello world<br />Hello World
      </div>
      
    </div>
    
    </body>
</html>

" data-fancybox="gallery"   href="https://dgo9uctxwg500.cloudfront.net/images/480x480%23/zh_TW_c3b32c00fa.png"><img src="{% static 'images/bkkk.png' %}" width="70px" 
