{% extends 'master.html' %} {% load static %} {% block style_part %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.css" />
<style>
  .tile-img {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-color: #ddd
  }

  /* Start state */
.animated-modal {
  max-width: 550px;
  border-radius: 4px;
  overflow: hidden;
  
  transform: translateY(-50px);
  transition: all .7s;
}

.animated-modal h2,
.animated-modal p {
  transform: translateY(-50px);
  opacity: 0;
  
  transition-property: transform, opacity;
  transition-duration: .4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
  transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  transition-delay: .1s;
}

.fancybox-slide--current .animated-modal p {
  transition-delay: .3s;
}

</style>
{% endblock %} {% block main_content %}


<!-- <body> -->
<div class="container" style="border:3px white solid;border-radius:10px;height:60px;background-color:white;">

  <div class="row">


  </div>
</div>


<div class="container" style="height:50px">
  <div class="row" style="line-height:150px;">
    <div class="col-sm">
      <h2></h2>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4" style="margin-top:10px">
      <div class="card" style="width: 180%;">

        <div class="tile-img rounded float-left" style="background-image:url({{imgsrc}})">


          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>





    </div>
    <div class="col-3" style="margin-top:10px">






    </div>
    <!-- 訂位表單 -->
    <div class="col-5" style="margin-left: px;">

        <h3 style="font-size: 2vw;
        padding:0px;
        line-height: 5vh;
        color:#414141;
        font-weight:bold;">{{dname}}</h3>
        <div style="
        color: gray;
        opacity: 0.5;
        font-style: italic;
        font-size: 1vw;">{{dtype}}</div>
        <div style="
        opacity: 0.9;
        font-size: 0.7em;">
        {{dtel}}</div>
        <div style="
        opacity: 0.9;
        font-size: 0.7em;">
        {{time}}</div>
        <div style="
        opacity: 0.9;
        font-size: 0.7em;">
        {{addr}}</div>


      <form method="POST" id="myform">
        {% csrf_token %}
        <div class="">
          <div class="form-group " style="margin-top:10px">
            <label for="inputEmail4">訂位姓名</label>
            <input type="text" class="form-control" id="uiname" name="uiname" placeholder="name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">聯絡電話</label>
          <input type="number" class="form-control" id="uitel" name="uitel" placeholder="tel">
        </div>
        <div class="form-group">
          <label for="inputAddress2">訂位日期</label>
          <input class="form-control" type="datetime-local" id="bdaytime" name="bdaytime">
          <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"> -->
        </div>


        <button type="submit" class="btn btn-primary" style="width:100%;margin-top:1%;background-color:#fc642d">
          <a style="font-size:100%;color:beige;font-family:sans-serif;" width="100% ">
              送出訂單
          </a>
        </button>
        
      
        <!-- <a id="fkbtn" data-fancybox data-animation-duration="700" data-src="#animatedModal" href="#" class="btn btn-primary">Open demo</a> -->
        <!-- <a id="fkbtn" data-fancybox data-animation-duration="700" data-src="#animatedModal" href="#" class="btn btn-primary">訂位</a> -->
      </form>


      <!-- <div "form-row " style="border:3px black solid;border-radius:10px;height:60px;background-color:#484848;margin-top:5px "> -->
          <!-- <a style="margin-top:1%;width: 100%;background-color:#484848 ;border-color: #484848"  href="/res/booking" class="btn btn-primary">回上一頁</a> -->

      <!-- </div> -->
      <!-- ------------ -->
      <p class="mb-0">

      </p>
    
      
      <div style="display: none;" id="animatedModal" class="animated-modal">
        <h2>訂單成功:</h2>
        <p>訂單編號:{{oid}}</p>
        <p>用餐人數:{{ters}}</p>
        <p>餐廳電話:{{dtel}}</p>
        <p>訂餐時間:{{BookingDate}}</p>

      </div>
            <!-- ------------ -->
    </div>
  </div>
</div>


<div class="container " style="height:50px;margin-bottom: 180px;margin-top:1%; ">
  <div class="row " style="line-height:150px; ">
      <a data-fancybox data-animation-duration="700" data-src="#animatedModal" href="javascript:;" class="btn btn-primary" style="margin-left:1%;margin-right:1%;width:100%;margin-top:1%;background-color:#484848" > 訂單資料</a>
      <a href="/res/booking"" class="btn btn-primary" style="margin-left:1%;margin-right:1%;width:100%;margin-top:1%;background-color:#484848">回上一頁</a>
    <div class="col-12 ">
      
      <div class="col-12" style="border:3px white solid;border-radius:10px;height:44px;background-color:white;">
          <div  class="row">
                  <!-- <a style="margin-left:1%";"margin-top:2%"; class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">detial</a> -->
                  <!-- <button  style="margin-left:31%" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">time & addr</button> -->


      </div>            
          </div>
      </div>


                      </div>
                    </div>
                  </div>


                  
                </div>
     
    </div>
    <div class="col-sm ">

    </div>
    <div class="col-sm ">

    </div>
  </div>
</div>




<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN
            " crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q
            " crossorigin="anonymous "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl
            " crossorigin="anonymous "></script>
</body>
</html> -->
{% endblock %} {% block script_part %}
<script src="//code.jquery.com/jquery-3.3.1.min.js "></script>

<link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css " />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.1/jquery.fancybox.min.js"></script>
<script>
  // $('#fkbtn').click(function(){
  //   document.getElementById("myform").submit();
  // })
</script>
 {% endblock %}
