{% extends 'master.html' %} {% load static %} {% block style_part %}
<style>
  .tile-img {
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-color: #ddd
  }
</style>
{% endblock %} {% block main_content %}


<!-- <body> -->
<div class="container" style="border:3px black solid;border-radius:10px;height:60px;background-color:black;">
  <div class="row">
    <div class="col-sm" style="background-color:white;width:300px;height:50px;text-align:center;line-height:50px;font-size:200%">
      res
    </div>

  </div>
</div>


<div class="container" style="height:50px">
  <div class="row" style="line-height:150px;">
    <div class="col-sm">
      <h2></h2>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4" style="margin-top:10px">
      <div class="card" style="width: 80%;">

        <div class="tile-img rounded float-left" style="background-image:url({{imgsrc}})">


          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card" style="width: 80%;margin-top:10px">

        <div class="tile-img rounded float-left" style="background-image:url({{imgsrc}})">

        </div>
      </div>
    </div>
    <div class="col-4" style="margin-top:10px">
      <div class="card" style="width: 80%;">

        <div class="tile-img rounded float-left" style="background-image:url({{imgsrc}})">
          <!-- <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card" style="width: 80%;margin-top:10px">

        <div class="tile-img rounded float-left" style="background-image:url({{imgsrc}})">
          <!-- <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <!-- 訂位表單 -->
    <div class="col-4" style="margin-left: px;">

      <div "form-row" style="border:3px black solid;border-radius:10px;height:60px;background-color:white;">
        <div style="background-color:white;height:50px;text-align:center;line-height:50px;">訂位表單</div>
      </div>


      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group " style="margin-top:10px">
            <label for="inputEmail4">訂位人姓名{{resid}}</label>
            <input type="text" class="form-control" id="uname" name="uname" placeholder="name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">聯絡人電話</label>
          <input type="number" class="form-control" id="tel" name="tel" placeholder="0977452454">
        </div>
        <div class="form-group">
          <label for="inputAddress2">訂位日期</label>
          <input type="datetime-local" id="bdaytime" name="bdaytime">
          <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"> -->
        </div>


        <button type="submit" class="btn btn-primary">
          <a style="font-size:150%;color:beige;font-family:sans-serif;img src='{% static 'images/bkkk.png' %}'" width="70px ">訂位</a>
        </button>
      </form>


      <div "form-row " style="border:3px black solid;border-radius:10px;height:60px;background-color:white;margin-top:10px ">
        <div style="background-color:white;height:50px;text-align:center;line-height:50px;font-size:1px ">ver0.01</div>
      </div>

    </div>
  </div>
</div>


<div class="container " style="height:50px;margin-bottom: 180px; ">
  <div class="row " style="line-height:150px; ">
    <div class="col-12 ">
      <!-- detail  menu---------------------------------------------------------------- -->
      <div class="col-6" style="border:3px white solid;border-radius:10px;height:44px;background-color:white;">
          <div  class="row">
                  <a style="margin-left:6%";"margin-top:2%"; class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">detial</a>
                  <button  style="margin-left:38%" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">time & addr</button>
                  
          </div>
      </div>
                <div style="margin-top:10px" class="row">
                  <div class="col-6">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                      <div class="card card-body" style="font-size: 40px;font: 1em sans-serif;">
                          店名:{{dname}}<br>
                          類型{{dtype}}<br>
                          電話{{dtel}}<br>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                      <div class="card card-body" style="font-size: 40px;font: 1em sans-serif;">
                          營業時間:{{time}}<br>
                          地址:{{addr}}<br>
                      </div>
                    </div>
                  </div>
                </div>
      <!-- detail  menu----------------------------------------------------------------------    -->
    </div>
    <div class="col-sm ">

    </div>
    <div class="col-sm ">

    </div>
  </div>
</div>




<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN
            " crossorigin="anonymous "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q
            " crossorigin="anonymous "></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl
            " crossorigin="anonymous "></script>
</body>
</html> -->
{% endblock %} {% block script_part %}
<script src="//code.jquery.com/jquery-3.3.1.min.js "></script>

<link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css " />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js "></script> {% endblock %}
