{% extends 'master.html' %} {% load static%} {% block style_part %}
<link rel="stylesheet" href="{% static 'styles/signup.css' %}"> {% endblock %} {% block main_content %}

<div class="position-relative">
        <h1 style="background-image: url({% static 'images/sititimg.jpg' %}); text-align: center;padding: 20px;color: white;">建立您的會員資料</h1>
    <div class="col-md-5 mx-auto" style="padding-bottom: 0px!important;margin-bottom: 0px!important;margin-top: 20px;">
        <!-- <hr class="myhr">  -->

        <form action="{% url 'member:signup' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="sr-only required" for="member_lastname">姓氏</label>
                    <input type="text" class="form-control" id="member_lastname" name="member_lastname" placeholder="姓氏" required="required">
                </div>
                <div class="form-group col-md-6">
                    <label class="sr-only required" for="member_firstname">名字</label>
                    <input type="text" class="form-control" id="member_firstname" name="member_firstname" placeholder="名字" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only required" for="member_email">電子信箱</label>
                <input type="email" class="form-control" id="member_email" name="member_email" placeholder="電子信箱" required="required">
            </div>
            <div class="form-group">
                <label class="sr-only required" for="member_birthday">生日</label>
                <input type="text" class="form-control" id="member_birthday" name="member_birthday" placeholder="請輸入您的生日,例如：1990-03-30">
            </div>

            <hr class="myhr">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="member_country">居住國家</label>
                    <select id="member_country" name="member_country" class="form-control">
                        <option selected>Choose...</option>
                        <option value="1">...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="member_region">居住區域</label>
                    <select id="member_region" name="member_region" class="form-control">
                        <option selected>Choose...</option>
                        <option value="cv">...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input class="" type="radio" name="member_gender" id="gen1" value="M">
                    <label class="" for="gen1">男</label>
                </div>
                <div class="form-group col-md-6">
                    <input class="" type="radio" name="member_gender" id="gen1" value="Ｆ">
                    <label class="" for="gen1">女</label>
                </div>
            </div>

            <hr class="myhr">

            <div class="form-group">
                <fieldset>
                    <legend>請告知我們您的旅遊喜好</legend>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 form-control" style="border: none;">
                                <input class="" type="checkbox" id="gridCheck1" name="member_check" value="nv">
                                <label class="form-check-label" for="gridCheck">自然景觀</label>
                            </div>
                            <div class="col-md-3 form-control" style="border: none;">
                                <input class="" type="checkbox" id="gridCheck2" name="member_check" value="cl">
                                <label class="form-check-label" for="gridCheck">文化知性</label>
                            </div>
                            <div class="col-md-3 form-control" style="border: none;">
                                <input class="" type="checkbox" id="gridCheck3" name="member_check" value="sp">
                                <label class="form-check-label" for="gridCheck">購物時尚</label>
                            </div>
                            <div class="col-md-3 form-control" style="border: none;">
                                <input class="" type="checkbox" id="gridCheck4" name="member_check" value="ch">
                                <label class="form-check-label" for="gridCheck">休閒親子</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr class="myhr">

            <div class="container" style="text-align: center;">
                <div class="">
                    <input type="submit" class="col-md-2 btn btn-outline-secondary form-control" value="註冊">
                </div>
            </div>
        </form>


    </div>
    <!-- <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div> -->
</div>

{% endblock %}