<!-- <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between" style="max-width: 100%;">
         <div class="col-md-4" style="text-align: left">
            <a class="py-2 d-none d-md-inline-block toggle-sidebar" href="#">manage</a>
        </div>
        <div class="col-md-4" style="text-align: center">
            <a class="navbar-brand py-2 d-none d-md-inline-block" href="#">Document</a>
        </div>
        <div class="col-md-4" style="text-align: right">
            <a class="py-2 d-none d-md-inline-block" href="#">H!, Yuki</a>
        </div> 
        <a class="py-2" href="#">Document</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Location</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Hotel</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Restaurant</a>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg site-header sticky-top">
    <a class="navbar-brand" href="#">Document</a>
    <button class="navbar-toggler" type="button" style="border: 1px solid silver;" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fas fa-bars" style="color: silver;"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Restaurant</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a class="nav-link" href="#">Login</a>
        </div>
    </div>
</nav>