<!-- <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between" style="max-width: 100%;">
         <div class="col-md-4" style="text-align: left">
            <a class="py-2 d-none d-md-inline-block toggle-sidebar" href="#">manage</a>
        </div>
        <div class="col-md-4" style="text-align: center">
            <a class="navbar-brand py-2 d-none d-md-inline-block" href="#">Document</a>
        </div>
        <div class="col-md-4" style="text-align: right">
            <a class="py-2 d-none d-md-inline-block" href="#">H!, Yuki</a>
        </div> 
        <a class="py-2" href="#">Document</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Location</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Hotel</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Restaurant</a>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg site-header sticky-top">
    <a class="navbar-brand" href="#">Document</a>
    <button class="navbar-toggler" type="button" style="border: 1px solid silver;" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fas fa-bars" style="color: silver;"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if isLogin  == True%}
                
            <li class="nav-item">
                <a class="nav-link" href="#">Attraction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Restaurant</a>
            </li>

            {% endif %}
        </ul>
        <!-- form-inline my-2 my-lg-0 -->
        {% if isLogin  == True%}
        <a class="nav-link" href="#" id="login_a">Logout</a>
        {% else %}
        <a class="nav-link" href="#" id="login_a">Login</a>
        {% endif %}
        
        <div class="cus_collapsed" id="login_from">
            
            <div class="container">
                <div class="row">
                    <form class="" style="display: block;color:silver;" action="{% url 'member:login' %}" method="POST">
                        {% csrf_token %}
                        <div style="float: left;">
                            <div class="input-group col-auto" style="width: 50%;float: left;">
                                <!-- <label for="exampleInputEmail1">Email address</label> style="display: inline-block;"-->
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="background-color: inherit;border: 1px solid black;"><i class="fas fa-envelope" style="color: white;"></i></div>
                                  </div>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="loginmail" style="background-color: black;
                                border-top-color: black;border-right-color: black;border-left-color: black;border-bottom-color: gray;">
                                <!-- <i class="fas fa-envelope" style=" float: left; position: relative;z-index: 2; margin-right: 6px;margin-top: -20px;"></i> -->
                            </div>
                            <div class="input-group col-auto" style="width: 50%;float: right;">
                                <!-- <label for="exampleInputPassword1">Password</label> style="display: inline-block;"-->
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="background-color: inherit;border: 1px solid black;"><i class="fas fa-lock" style="color: white;"></i></div>
                                  </div>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="loginpwd" style="background-color: black;
                                border-top-color: black;border-right-color: black;border-left-color: black;border-bottom-color: gray;">
                            </div>
                        </div>
                        <div style="float: right;">
                            <div class="col-auto" style="">
                                <button type="submit" class="btn btn-outline-secondary">Login</button>
                            </div>
                        </div>
                        
                        
                        <!-- <div class="col-md-5" style="display: inline-block;" display: inline-block;>
                            <input type="checkbox" class="" id="exampleCheck1">
                            <label class="" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="col-md-5" style="display: inline-block;">
                            <a href="">forget password?</a>
                        </div> -->






                    </form>
                </div>
            </div>

        </div>
    </div>
</nav>